@use './modules/header';
@use './modules/button';
@use './modules/iconContract';
// @use './modules/item';


.block-center{
    display       : flex;
    flex-direction: column;
    flex-basis: 90%;

    .block-main {
        height          : 90vh;
        background-color: red;
        background-color: variables.$background_secondary;
        padding         : 50px 25px;
        display         : grid;
        grid            : auto / auto auto auto auto;
        gap             : 27px;
        overflow: auto;

}
    
}

