.content-data{
    width           : 80%;
    display         : grid;
    justify-items   : start;
    padding         : 20px 10px 20px 20px;
    background-color: white;
    margin          : 10px auto;
    gap             : 0px;
    font-size       : 1.3em;
    position        : relative;
    
    span.title-data-item {
        font-weight: 700;
    }

    p.body-data {
        display: inline-block;
    }

    .graphic-right{
        display: grid;
        grid: auto / auto auto;
        box-sizing: content-box;
        max-width: 54%;

        .raphic-right-current,.raphic-right-past{
            width: 370px;
            height: 370px;
        }
        
    }
}