@use '@/assets/style/scss/modules/iconContract';


.block-right{
    background-color: #55d3ff;
   //  width           : 300px;
    min-width: 330px;
    height          : 100vh;
    border-radius   : 8px;
    flex-basis      : 25%;
    flex-shrink     : 0;

   @media (max-width: 998px){
      &:not(.close){
         display: none;
      }
   }
    
}
