@use '../partial/variables';
@use '../partial/reset';

header {
  background-color: var(--block-header);
  text-align: center;
  position: relative;
  bottom: 20px;
  padding-top: 13px;
}

.custom-nav li {
  display: inline-block;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
  /* color: var(--font-color-primary); */
}

.custom-nav li:hover {
  border-radius: 9px 9px;
  background: coral;
  color: var(--font-color-secondary);
}

.custom-nav {
  padding: 0;
}
