.icon-arrow-contract{
   padding         : 5px;
   border-radius   : 4px;
   background-color: #e1e1e1;
   width           : 30px;
   height          : 33px;
}

.content-icon-arrow{
   .icon-arrow{
      width       : 36px;
      margin-right: 5px ;
   }

}

.group-rigth{
    .content-icon-arrow{
      align-self   : start;
      position     : relative;
      right        : 51px;
      top          : 39px;
      max-width    : 45px;
      min-width    : auto;
      border-radius: 5px;
      height       : 50px;
      padding      : 7px;
      .icon-arrow{
         &.rotate{
            transform: rotate(180deg);
         }
      }
      .icon-arrow-contract{
        border: 1px solid #00000026;

      }
      &:not(.icon-show){
         right: 7px;
         top  : 43px;
      }
   }
}