.block-left{
    label.btn.btn-outline-primary.btn-lg {
        font-size: 0.8em;
        padding  : 5px 30px 5px 9px;
    }
}

#modalAcompaniment-body > div .active{
    border-bottom   : 0px;
    background-color: rgba(0, 0, 0, 0.0705882353);
    background-color: transparent;
}