$block_header        : aliceblue;
$background_primary  : #55d3ff;
$background_secondary: #ff6300;
$background_tree     : #75e308;
$label               : #ffcd56;
$background_button   : #d31313;
$background_tree     : #b5b0b17a;
$font_color_primary  : #676262fc !default;
$font_color_secondary: #ffffff;
$font_color_tertiary : #322f69;
$background_color    : #f9f9f9;
$vate:120pxu