/* Reset some default browser styles */
:root {
  --block-header        : aliceblue;
  --background-primary  : #55d3ff;
  --background-secondary: #ff6300;
  --background-tree     : #75e308;
  --label               : #ffcd56;
  --background-button   : #d31313;
  --background-tree     : #b5b0b17a;
  --font-color-primary  : #676262fc;
  --font-color-secondary: #ffffff;
  --font-color-tertiary : #322f69;
  --background-color    : #f9f9f9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  color: var(--font-color-primary);
  background-color: var(--background-primary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: 0.1s;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em 0;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* heafer */
header {
  background-color: var(--block-header);
  text-align: center;
  position: relative;
  bottom: 20px;
  padding-top: 13px;
}
.custom-nav li {
  display: inline-block;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
  /* color: var(--font-color-primary); */
}

.custom-nav li:hover {
  border-radius: 9px 9px;
  background: coral;
  color: var(--font-color-secondary);
}

/* container */
.container,
.custom-nav,
footer {
  margin: 20px auto;
  padding: 20px;
}

.custom-nav {
  padding: 0;
}

/* home */
.subtitle {
  font-size: 1.5em;
  color: var(--font-color-primary);
  font-weight: 500;
}
.content-blocks {
  display: flex;
  gap: 70px;
  justify-content: space-around;
  margin-top: 110px;
}

.block-stage {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  border: 1px solid red;
}

.block-container {
  padding: 30px 20px 20px 20px;
  position: relative;
  min-height: 225px;
  margin-bottom: 60px;
}

.theme-item {
  padding: 15px;
  background-color: var(--background-secondary);
  color: var(--font-color-secondary);
  border-radius: 13px;
  box-shadow: 7px 6px 8px 0px #478eb09e;
  font-size: 0.8em;
  width: 255px;
}

.theme-title {
  font-size: 2em;
  font-family: cursive;
  min-width: 350px;
}

.theme-topic {
  font-size: 1.5em;
}

.title-item {
  font-weight: 900;
}

/* home/grafi */
h2.content-theme {
  position: absolute;
  top: -19px;
  left: calc(50% - 175.1px);
  background: var(--background-primary);
  padding: 4px 20px;
  min-width: 274px;
  font-size: 22px;
}

.list-event-request{
      border-radius: 0px 0px 5px 5px;
}

.list-option-event{
      padding: 10px;
      cursor: pointer;
}

.list-option-event:hover{
      background-color: #0d6efd;
}

/* HOME - SIDE */
.content-side-block {
  padding: 21px;
  max-width: 412px;
  /* width: 30%; */
  height: 785px;
  position: relative;
}

.content-side-block h3{
  font-size: 17px;
}
.side-block {
  background-color: #b5b0b13b;
  border-radius: 32px;
  color: white;
}

.chart-container {
  height: 200px;
}

.block-status {
  margin-bottom: 13px;
}

.content-side-blocks > div {
  margin-bottom: 35px;
}
.content-side-blocks > h3 {
  font-size: 30px;
}

.averange-data-container {
  position: relative;
  left: 7%;
  display: flex;
  gap: 10px;
  text-align: center;
}

.averange-data-container {
  margin-top: 20px;
}

.averange-data-block {
  margin: 50px 0;
}

.format-data {
  padding: 10px;
  background-color: var(--background-tree);
  border-radius: 10px;
  font-size: 26px;
  font-family: math;
  text-align: center;
}

.amaunt-events {
  width: 50px;
  height: 50px;
}

.data-status {
  background-color: var(--label);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.data-stage {
  font-size: 18px;
  margin-left: 5px;
  font-weight: 900;
  color: var(--font-color-tertiary);
}

/* responsive */
@media screen and (max-width: 1044px) {
  .side-block {
    min-width: 85%;
  }
}

@media screen and (max-width: 596px) {
  .block-container {
    gap: 14px;
    padding: 41px;
    min-height: 614px;
    justify-content: center;
    width: 100%;
  }

  .content-blocks {
    flex-wrap: wrap-reverse;
  }
}

/* HOME SIDE LEFT */
.button {
  background-color: var(--label);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: var(--font-color-primary);
}

.button:hover {
  background-color: var(--background-button);
  color: var(--font-color-secondary);
  cursor: pointer;
}